@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Poppins, sans-serif !important;
}

.c-path{
   /* clip-path: circle(78.5% at 88% 23%); */
   /* clip-path: circle(44.1% at 53% 50%); */
   /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
   clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.bg{
    background-image: url(./assets/planting-corn_58409-3141.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
/* 
.bg:hover{

} */